<!DOCTYPE html>
<html>
    <head>
        <title>Etablissement ajouté</title>
    </head>
    <body>
        <p><strong>Bonjour, </strong></p>
        <p>Votre établissement : <strong>{{ nom }}</strong> a été bien ajouté. </p>
        <p>Nous vous informons quand votre établissement sera validé. </p>
        <p></p>
        <p>L'équipe du Ministère du tourisme,</p>
    </body>
</html>