<!DOCTYPE html>
<html>
    <head>
        <title>Etablissement ajouté</title>
    </head>
    <body>
        <p><strong>Bonjour, </strong></p>
        <p>Votre établissement : {{ nom }} a été ajouté </p>
        <p>Nous vous informons quand votre établissement sera validé. </p>
    </body>
</html>