<!DOCTYPE html>
<html>
    <head>
        <title>Email contact</title>
    </head>
    <body>
        <p><strong>Nom</strong> : {{ data['nom'] }}</p>
        <p><strong>Prénom</strong> : {{ data['prenom'] }}</p>
        <p><strong>Email</strong> : {{ data['email'] }}</p>
        <p><strong>Message</strong> : <br> {{ data['message'] }}</p>
    </body>
</html>