<!DOCTYPE html>
<html>
    <head>
        <title>Etablissement refusé</title>
    </head>
    <body>
        <p><strong>Bonjour, </strong></p>
        <p><strong>{{ nom }}<strong> a été refusé. </p>
    </body>
</html>