<!DOCTYPE html>
<html>
    <head>
        <title>Etablissement refusé</title>
    </head>
    <body>
        <p><strong>Bonjour, </strong></p>
        <p>Votre établissement : <strong>{{ nom }}<strong> a été refusé. </p>
		<p>Motifs : </br></p>
		<p>{{ data['motif'] }}</p>
    </body>
</html>