<!DOCTYPE html>
<html>
    <head>
        <title>Etablissement validé</title>
    </head>
    <body>
        <p><strong>Bonjour, </strong></p>
        <p><strong>{{ nom }}<strong> a été bien validé. </p>
        <p>Vous pouvez ajouter d'autre etablissement.</p>
    </body>
</html>