<!DOCTYPE html>
<html>
    <head>
        <title>Email de bienvenue</title>
    </head>
    <body>
        <p><strong>Bonjour, </strong></p>
        <p>Votre inscription a été bien enregistrée ! </p>
        <p>Vous pouvez maintenant ajouter votre etablissement.</p>
        <p></p>
        <p>L'équipe du Ministère du tourisme,</p>
    </body>
</html>