<!DOCTYPE html>
<html>
    <head>
        <title>Email Signaler</title>
    </head>
    <body>
        <p><strong>Etablissement</strong> : {{ etablissement.nom }}</p>
        <p><strong>Nom</strong> : {{ data['nom'] }}</p>
        <p><strong>Email</strong> : {{ data['email'] }}</p>
        <p><strong>Motif</strong> : <br> {{ data['motif'] }}</p>
    </body>
</html>