{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <main>
        <div class="bgcontainerdefault">
            <div class="wrapper">
                <form action="{{ path('app_login') }}" method="post" class="blocform">
                    <h1>Se connecter</h1>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="formgroup">
                        <label for="">E-mail</label>
                        <input type="email" name="_username" value="{{ last_username }}" placeholder="" >
                    </div>
                    <div class="formgroup">
                        <label for="">Mot de passe</label>
                        <input type="password" placeholder=""  name="_password">
                    </div>
                    <div class="linkmdp">
                        <a href="#"  >Mot de passe oublié ?</a>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-secondary" ><span>Connexion</span></button>
                    <div class="blocbottom">
                        <p>Pas de compte ? <a href="#" title="Inscrivez-vous" ><strong>Inscrivez-vous</strong></a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
