<div id="infoadmin">
    <div class="infoad">
        <div class="bienvenu">
            <span>Bienvenue, {{app.user.nom}}</span>
            <img src="{{ asset('admin/img/icon-admin.svg') }}" alt="">
        </div>
        <div class="deco">
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </div>
</div>