<div id="infoadmin">
    <div class="infoad">
        <div class="bienvenu">
            <span>Bienvenue, Ravaka</span>
            <img src="{{ asset('admin/img/icon-admin.svg') }}" alt="">
        </div>
        <div class="deco">
            <a href="/logout">Déconnexion</a>
        </div>
    </div>
</div>