{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
<main id="dashboard" class="flex">
    <section id="contenu">
        <div id="infoadmin">
            <div class="infoad">
                <div class="bienvenu">
                    <span>Bienvenue, Ravaka</span>
                    <img src="img/icon-admin.svg" alt="">
                </div>
                <div class="deco">
                    <a href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
        <div class="title">Dashboard</div>
        <div class="bloc-33 chiffre">
            <div class="item">
                <a href="" class="card etablissement">
                    <div class="nombre">457</div>
                    <div class="subtitle">Etablissement</div>
                </a>
            </div>
            <div class="item">
                <a href="" class="card hebergement">
                    <div class="nombre">82</div>
                    <div class="subtitle">Hebergement</div>
                </a>
            </div>
            <div class="item">
                <a href="" class="card restauration">
                    <div class="nombre">241</div>
                    <div class="subtitle">Restauration</div>
                </a>
            </div>
            <div class="item">
                <a href="" class="card evpt">
                    <div class="nombre">241</div>
                    <div class="subtitle">EVPT</div>
                </a>
            </div>
            <div class="item">
                <a href="" class="card guide">
                    <div class="nombre">241</div>
                    <div class="subtitle">Guide</div>
                </a>
            </div>
            <div class="item">
                <a href="" class="card users">
                    <div class="nombre">241</div>
                    <div class="subtitle">Utilisateurs</div>
                </a>
            </div>
        </div>
        <div class="copyright">© <strong>2023 Annuaire</strong>, tous droits réservés</div>
    </section>
</main>
{% endblock %}
