{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
<main id="content" class="flex">
    <section id="contenu" class="candidat">
        <div id="infoadmin">
            <div class="infoad">
                <div class="bienvenu">
                    <span>Bienvenue, Ravaka</span>
                    <img src="img/icon-admin.svg" alt="">
                </div>
                <div class="deco">
                    <a href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
        <div class="d-flex sb header">
            <div class="title">Utilisateur</div>
            <a data-fancybox data-src="#newuser" class="btn">Nouveau utilisateur</a>
        </div>
        <table id="table-list" class="custom-table-secteur">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Date d’inscription</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rabetokotany</td>
                    <td>Gregorio Meier</td>
                    <td>Gregorio@gmail.com</td>
                    <td>15 Oct.2020</td>
                    <td>
                        <div class="action">
                            <a href="" class="edit"></a>
                            <a href="" data-fancybox data-src="#supprimer" class="delete"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Rabetokotany</td>
                    <td>Gregorio Meier</td>
                    <td>Gregorio@gmail.com</td>
                    <td>15 Oct.2020</td>
                    <td>
                        <div class="action">
                            <a href="" class="edit"></a>
                            <a href="" data-fancybox data-src="#supprimer" class="delete"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Rabetokotany</td>
                    <td>Gregorio Meier</td>
                    <td>Gregorio@gmail.com</td>
                    <td>15 Oct.2020</td>
                    <td>
                        <div class="action">
                            <a href="" class="edit"></a>
                            <a href="" data-fancybox data-src="#supprimer" class="delete"></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="copyright">© <strong>2023 Annuaire</strong>, tous droits réservés</div>
    </section>
</main>
<!-- Modal -->
<div id="newuser" style="display:none; max-width: 500px;">
    <div class="title">Ajout nouveau <strong>Utilisateur</strong></div>
    <div class="form-wrap">
        <div class="half">
            <div class="form-control">
                <label for="nom">Nom</label>
                <input type="text" id="nom">
            </div>
            <div class="form-control">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom">
            </div>
        </div>
        <div class="form-control">
            <label for="email">E-mail</label>
            <input type="email" id="email">
        </div>
        <div class="form-control">
            <label for="password">Mot de passe</label>
            <input type="password" id="password">
        </div>
        <div class="pbtn full"><button class="btn">Ajouter utilisateur</button></div>
    </div>
</div>
<div id="supprimer" class="pop_suppr" style="display:none; max-width:500px;">
    <div class="innerpad">
        <div class="sub-title">Vouler vraiment supprimer ?</div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis tempora repellat soluta perferendis earum animi porro</p>
    </div>
    <div class="pop_btns">
        <a href="" class="btn-pop confirm">Supprimer</a>
        <span data-fancybox-close class="btn-pop">Annuler</span>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable.min.js') }}"></script>
    <script src="{{ asset('admin/js/datatable-reponsive.min.js') }}"></script>
    <script src="{{ asset('admin/js/customize.js') }}"></script>
    <script>
        $(document).ready( function () {
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet',  width: 1024 },
                { name: 'fablet',  width: 768 },
                { name: 'phone',   width: 480 }
            ];
            $('#table-list').DataTable({
                paging: true,
                "searching": true,
                "info": false,
                "bLengthChange" : false,
                "bInfo":false,
                responsive: true,
                "ordering": true,
                "language": {
                    "lengthMenu": "Afficher _MENU_",
                    "zeroRecords": "Rien n'a été trouvé, désolé",
                    "info": "Nombre de lignes <span class='current'>_PAGE_</span> sur <span>_PAGES_</span>",
                    "infoEmpty": "Non disponible",
                    "infoFiltered": "(filtré sur _MAX_ enregistrements)",
                    "search": "",
                    "searchPlaceholder": "Recherche",
                    "sPaginationType": "3",
                    "paginate": {
                        "previous": "<",
                        "next": ">"
                    }
                }
            });
            $(".close").click(function(){
                $(this).parent().parent().remove();
            });
        } );
    </script>
{% endblock %}
