{% extends 'base-admin.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
<main id="dashboard" class="flex">
    <section id="contenu">
        {% include "admin/block/logout.html.twig" %}
        <div class="title">Dashboard</div>
        <div class="bloc-33 chiffre">
            {% for category in categories %}
                <div class="item">
                    <a href="{{ path('app_category', {slug:category.slug}) }}" class="card etablissement">
                        <div class="nombre">{{ category.etablissements|length }}</div>
                        <div class="subtitle">{{ category.nom }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% include "admin/block/copyright.html.twig" %}
    </section>
</main>
{% endblock %}
