{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<main>
    
    <div class="top-page">
        <div class="wrapper">
            <h1>Tous les établissement formels d’hébergement 
                à Madagascar</h1>
        </div>
    </div>
    <div class="form-search">
        <div class="wrapper">
            <form action="" class="bg-white">
                <div>
                    <div class="formgroup searchgroup">
                        <input type="text" placeholder="" >
                        <button type="submit"class="send" ></button>
                    </div>
                    <div class="formgroup searchgroup region">
                        <label for="region-select">Region</label>
                        <select name="region" id="Region-select">
                            <option value="Analamanga">Analamanga</option>
                            <option value="Anosy">Anosy</option>
                            <option value="Ihorombe">Ihorombe</option>
                        </select>
                    </div>
                    <div class="formgroup searchgroup">
                        <label for="activite-select">Activités</label>
                        <select name="activite" id="activite-select">
                            <option value="Location">Location</option>
                            <option value="Restauration">Restauration</option>
                            <option value="Voyage et prestations touristiques">Voyage et prestations touristiques</option>
                        </select>
                        <button type="submit" class="btn-filter"><span>Filtrer</span></button>
                    </div>
                </div>
                </form>
        </div>
    </div>
        <div class="membre">
            <div class="wrapper">
                <div class="membre__content">
                    {% for etablissement in etablissements %}
                        {% include "front/block/etablissement.html.twig" %}
                    {% endfor %}
                </div>
            </div>
        </div>
</main>
{% endblock %}
{% block javascripts %}
   <script>
        jQuery(document).ready(function ($) {
            $('.temoignages__slick').slick({
                infinite: true,
                dots: true,
                pauseOnHover: true,
                slidesToShow: 1,
                arrows: false,
                slidesToScroll:1,
                fade: false,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            dots: true,
                            slidesToScroll:1,
                        }
                    }
                ]
            });
            $("select").niceSelect();
        });
    </script>
{% endblock %}
