{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<main>
    
    <div class="top-page">
        <div class="wrapper">
            <h1>Tous les établissement formels d’hébergement 
                à Madagascar</h1>
        </div>
    </div>
    <div class="form-search">
        <div class="wrapper">
            <form action="" class="bg-white">
                <div>
                    <div class="formgroup searchgroup">
                        <input type="text" placeholder="" >
                        <button type="submit"class="send" ></button>
                    </div>
                    <div class="formgroup searchgroup region">
                        <label for="region-select">Region</label>
                        <select name="region" id="Region-select">
                            <option value="Analamanga">Analamanga</option>
                            <option value="Anosy">Anosy</option>
                            <option value="Ihorombe">Ihorombe</option>
                        </select>
                    </div>
                    <div class="formgroup searchgroup">
                        <label for="activite-select">Activités</label>
                        <select name="activite" id="activite-select">
                            <option value="Location">Location</option>
                            <option value="Restauration">Restauration</option>
                            <option value="Voyage et prestations touristiques">Voyage et prestations touristiques</option>
                        </select>
                        <button type="submit" class="btn-filter"><span>Filtrer</span></button>
                    </div>
                </div>
                </form>
        </div>
    </div>
        <div class="membre">
            <div class="wrapper">
                <div class="membre__content">
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/colbert.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Hôtel Colbert Madagascar</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/mct.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Grand Hotel Urban</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/cdv.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Compagnie des Voyageurs </div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/louvre.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Le Louvre</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/mct.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Madagascar circuits tours</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/em.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Espace Mada</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/ctl.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Le Centell Hotel</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/mct.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Le Grand Mellis</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/colbert.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Hôtel Colbert Madagascar</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                    <div class="membre__content--item">
                            
                        <div class="logoitem">
                            <img src="images/mct.png" alt="">
                        </div>
                        <div class="texteitem">
                            <div class="titreitem">Grand Hotel Urban</div>
                            <ul>
                                <li><span class="domaine"> Hébergement & Restauration</span></li>
                                <li> <span  class="localisation"> Analamanga</span></li>
                            </ul>
                        </div>
                        <a href="" class="voir">Voir plus</a>
                    </div>
                </div>
                <button type="submit" class="charge">
                    Charger plus
                </button>
            </div>
        </div>
</main>
{% endblock %}
{% block javascripts %}
   <script>
        jQuery(document).ready(function ($) {
            $('.temoignages__slick').slick({
                infinite: true,
                dots: true,
                pauseOnHover: true,
                slidesToShow: 1,
                arrows: false,
                slidesToScroll:1,
                fade: false,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            dots: true,
                            slidesToScroll:1,
                        }
                    }
                ]
            });
            $("select").niceSelect();
        });
    </script>
{% endblock %}
