<div>
    <div class="card">
        <ul>
            <li class="activeitem"><a href="#"><img src="{{ asset('front/images/etablissement.svg') }}" alt=""> Mes etablissements</a></li>
            <li><a href="#"><img src="{{ asset('front/images/profil.svg') }}" alt="">Profil</a></li>
        </ul>
    </div>
    <div class="text-center">
        <a class="deconnexion" href="#"><img src="{{ asset('front/images/deconnecte.svg') }}" alt="">Se déconnecter</a>
    </div>
</div>